<!DOCTYPE html>
<!--[if lt IE 7]>      <html class="no-js lt-ie9 lt-ie8 lt-ie7"> <![endif]-->
<!--[if IE 7]>         <html class="no-js lt-ie9 lt-ie8"> <![endif]-->
<!--[if IE 8]>         <html class="no-js lt-ie9"> <![endif]-->
<!--[if gt IE 8]><!--> <html class="no-js"> <!--<![endif]-->
    <head>
        <meta charset="utf-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
        <title></title>
        <meta name="description" content="">
        <meta name="viewport" content="width=device-width,initial-scale=1.0">

        <link rel="stylesheet" href="/fileadmin/templates/Public/CSS/normalize.min.css">
        <link rel="stylesheet" href="/fileadmin/templates/Public/CSS/fonts.css">
        <link rel="stylesheet" href="/fileadmin/templates/Public/CSS/main.css">

        <script src="/fileadmin/templates/Public/JS/modernizr-2.6.2-respond-1.1.0.min.js"></script>
    </head>
    <body lang="de" class="col2r-layout">
        <!-- ###LAYOUT### start -->

        <!--[if lt IE 7]>
            <div class="chromeframe">Sie verwenden einen <b>veralteten Browser</b> mit <b>Sicherheitsschwachstellen</b> und <b>können nicht alle Funktionen dieser Webseite nutzen.</b> <a href="http://www.browser-update.org/de/update.html">Hier erfahren Sie, wie einfach Sie Ihren Browser aktualisieren können.</a></div>
        <![endif]-->
        
        <div class="header-container">
            <header class="wrapper clearfix">
                <div class="logo"><!-- ###LOGO### -->T3.WebWood.4u<!-- ###LOGO### --></div>
                <!-- ###NAVIGATION_META### -->
                <nav>
                    <ul>
                        <li><a href="#">nav ul li a</a></li>
                        <li><a href="#">nav ul li a</a></li>
                        <li><a href="#">nav ul li a</a></li>
                    </ul>
                </nav>
                <!-- ###NAVIGATION_META### -->

                <!-- ###NAVIGATION_DROPDOWN### -->
                <nav>
                    <ul>
                        <li><a href="#">nav ul li a</a></li>
                        <li><a href="#">nav ul li a</a></li>
                        <li><a href="#">nav ul li a</a></li>
                    </ul>
                </nav>
                <!-- ###NAVIGATION_DROPDOWN### -->

            </header>
            <!-- ###HEADER### -->
            [HEADER]
            <!-- ###HEADER### -->

        </div> <!-- #header-container -->

        <main>
            <div class="main-container">
                <div class="main wrapper clearfix">
                    <div class="main_nav_col">
                        <article class="main_col">
                            <!-- ###CONTENT_M### -->
                            <header>
                                <h1>article header h1</h1>
                                <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Aliquam sodales urna non odio egestas tempor. Nunc vel vehicula ante. Etiam bibendum iaculis libero, eget molestie nisl pharetra in. In semper consequat est, eu porta velit mollis nec.</p>
                            </header>
                            <section>
                                <h2>article section h2</h2>
                                <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Aliquam sodales urna non odio egestas tempor. Nunc vel vehicula ante. Etiam bibendum iaculis libero, eget molestie nisl pharetra in. In semper consequat est, eu porta velit mollis nec. Curabitur posuere enim eget turpis feugiat tempor. Etiam ullamcorper lorem dapibus velit suscipit ultrices. Proin in est sed erat facilisis pharetra.</p>
                            </section>
                            <section>
                                <h2>article section h2</h2>
                                <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Aliquam sodales urna non odio egestas tempor. Nunc vel vehicula ante. Etiam bibendum iaculis libero, eget molestie nisl pharetra in. In semper consequat est, eu porta velit mollis nec. Curabitur posuere enim eget turpis feugiat tempor. Etiam ullamcorper lorem dapibus velit suscipit ultrices. Proin in est sed erat facilisis pharetra.</p>
                            </section>
                            <footer>
                                <h3>article footer h3</h3>
                                <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Aliquam sodales urna non odio egestas tempor. Nunc vel vehicula ante. Etiam bibendum iaculis libero, eget molestie nisl pharetra in. In semper consequat est, eu porta velit mollis nec. Curabitur posuere enim eget turpis feugiat tempor.</p>
                            </footer>
                            <!-- ###CONTENT_M### -->
                        </article>
                        
                    </div>

                    <aside class="related_col">
                        <!-- ###NAVIGATION### -->
                        <nav>
                            <ul>
                                <li><a href="#">nav ul li a</a></li>
                                <li><a href="#">nav ul li a</a></li>
                                <li><a href="#">nav ul li a</a></li>
                            </ul>
                        </nav>
                        <!-- ###NAVIGATION### -->

                        <!-- ###CONTENT_R### -->
                        <aside>
                            <h3>aside</h3>
                            <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Aliquam sodales urna non odio egestas tempor. Nunc vel vehicula ante. Etiam bibendum iaculis libero, eget molestie nisl pharetra in. In semper consequat est, eu porta velit mollis nec. Curabitur posuere enim eget turpis feugiat tempor. Etiam ullamcorper lorem dapibus velit suscipit ultrices.</p>
                        </aside>
                        <!-- ###CONTENT_R### -->
                    </aside>
                </div> <!-- #main -->
            </div> <!-- #main-container -->
        </main>

        <div class="footer-container">
            <footer class="wrapper clearfix">
                <!-- ###FOOTER### -->
                <p>
                    <a rel="license" href="http://creativecommons.org/licenses/by/3.0/"><img alt="Creative Commons Lizenzvertrag" style="border-width:0" src="http://i.creativecommons.org/l/by/3.0/88x31.png" /></a><br />
                    <span xmlns:dct="http://purl.org/dc/terms/" href="http://purl.org/dc/dcmitype/Dataset" property="dct:title" rel="dct:type">Free TYPO3 Template</span> von <a xmlns:cc="http://creativecommons.org/ns#" href="http://t3template4u.de" property="cc:attributionName" rel="cc:attributionURL">Phillip Baumgärtner</a> steht unter einer <a rel="license" href="http://creativecommons.org/licenses/by/3.0/">Creative Commons Namensnennung 3.0 Unported Lizenz</a>.<br />Über diese Lizenz hinausgehende Erlaubnisse können Sie unter <a xmlns:cc="http://creativecommons.org/ns#" href="http://www.t3template4u.de" rel="cc:morePermissions">t3template4u.de</a> erhalten.
                </p>
                <!-- ###FOOTER### -->
            </footer>
        </div>
        <!-- ###LAYOUT### ende -->

        <script src="//ajax.googleapis.com/ajax/libs/jquery/1.10.1/jquery.min.js"></script>
        <script>window.jQuery || document.write('<script src="/fileadmin/templates/Public/JS/jquery-1.10.1.min.js"><\/script>')</script>

        <script src="/fileadmin/templates/Public/JS/main.js"></script>

        <script>
            var _gaq=[['_setAccount','UA-XXXXX-X'],['_trackPageview']];
            (function(d,t){var g=d.createElement(t),s=d.getElementsByTagName(t)[0];
            g.src='//www.google-analytics.com/ga.js';
            s.parentNode.insertBefore(g,s)}(document,'script'));
        </script>
    </body>
</html>
